<!DOCTYPE html>
<html lang
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    </head>
    <style>
body {
    font-family: Cambria, serif;
    color: black;
}
</style>

    temp
