@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Cambria, serif; 
            color: black; 
        }
    </style>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p>Privacy Statement</p>

    <p>DK Technologies Ltd ("DK") are committed to providing our customers with a secure, private shopping experience.</p>

    <h2>What information does DK need to collect from you as a customer?</h2>
    <p>DK, in dealing with you as a customer, may need to collect and retain information that identifies you as a customer so that transactions can be carried out either online or personally. The information we may collect includes:</p>
    <ul>
        <li>For establishing an account:</li>
        <ul>
           
           Email address(es)</li>
        </ul>
 
        <ul>
        
        </ul>
    </ul>


    <h2>Why does DK collect and retain personal information?</h2>
    <p>We use this information to undertake any dealings or transactions with you (see the Terms and Conditions for further details). Personal photo ID information may not be needed unless you need to personally pick up goods from any one of the DK stores, and we need to ascertain that the person picking up the goods is the correct person as per the transaction. We may take a copy of the identification supplied. This is also to protect your interest and security as a DK customer.</p>

    <h2>Who can access this information and who is it shared with?</h2>
    <p>The information will be collected by specified DK employees who need to have access to your personal data to carry out the transactions. The level of accessibility to your personal data is proportional to the job function that each team member performs.</p>
    
    <p>Certain information may be made accessible to other persons or bodies corporate engaged by DK for or in relation to any of the purposes listed in use of information of the Terms and Conditions.</p>

    <h2>Can you refuse to provide the information asked for?</h2>
    <p>If you do not wish to provide the information asked for, you have the right to refuse to provide it, however DK may not be able to proceed with the transaction if the information required is necessary for DK to ensure the transaction is conducted in a legitimate manner while protecting the interests of both DK and you as the customer.</p>

    <h2>Storage of personal information</h2>
    <p>We are aware that you may be concerned about the privacy and confidentiality of your personal information. We have taken many steps - from both technical and systems perspectives - to ensure that all of your information is well protected, however we also recommend that you do not disclose your loginID and password to anyone.</p>

   

    <h2>What is DK policy on allowing me to view, change or delete my personal information?</h2>
    <p>You are able to view, change or delete personal account information held by DK in the "My Account" area of our website.

   
</body>
</html>
